@import url('https://fonts.googleapis.com/css?family=Roboto:300,700');
/* fonts */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

html {
  background: #ffffff;
}

a {
  color: #828286;
  text-decoration: none;
}

a:hover {
  color: #000;
}

/* classes */
.main-nav {
  display: flex;
  min-height: 50px;
  background: #ffffff;
  padding: 0 1rem;
  align-items: center;
}

.hamburger {
  display: none;
}

.main-nav-list {
  display: flex;
  list-style: none;
  margin-left: auto;
}

.main-nav-list li {
  margin-left: 1rem;
  text-align: center;
  padding: 4px;
}

.brand-link {
  font-size: 20px;
  color: #828286;
}

/* media query */
@media (max-width: 600px){
  .main-nav {
    flex-wrap: wrap;
  }

  .hamburger {
    display: block;
    margin-left: auto;
    background: transparent;
    border: none;
    width: 50px;
    height: 50px;
    position: relative;
  }

  .hamburger div {
    height: 3px;
    width: 40px;
    background: #fff;
    position: absolute;
    border-radius: 2px;
    transform: translate(-50%, -50%);
    left: 50%;
    transition: .3s;
  }

  .hamburger div:first-child {
    top: 25%;
  }

  .hamburger div:nth-child(2) {
    top: 50%;
  }

  .hamburger div:nth-child(3) {
    top: 75%;
  }

  .hamburger.close div:first-child {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  .hamburger.close div:nth-child(2) {
    opacity: 0;
  }

  .hamburger.close div:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }


  .main-nav-list {
    display: block;
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    transition: 0.25s;
  }

  .main-nav-list.open {
    max-height: 500px;
  }

} /* end of media */

.main {
  background-image: url("https://lh3.googleusercontent.com/406-E70LLQkDZf858Uv0NzSNfexxcIVf6nNcOo1_u0Pd1SX5GoVfJkHaFnYmrXydc-yObICtolu9OQDkspXM=v1-rw-w1440");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #828286;
}

.main h1 {
  font-weight: bold;
  padding-top: 650px;
  font-size: 25px;
}

.row {
  background: #ffffff;
  color: #828286;
  text-align: center;
  padding: 150px;
}

.one {
  height: 50vh;
  text-align: center;
  background-image: url("https://lh3.googleusercontent.com/JypDw05Ay7KGQwOMf-bJ2I7pHp5zzdtSLIqN6f32C-9r3M_yxmQ0FWPlXXe3hZhzNcQ5wHJo4qkm2bSeJxc=v1-rw-w1500");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.two {
  height: 50vh;
  text-align: center;
  background-image: url("https://lh3.googleusercontent.com/jqq95TpZfsH8Ky_SCG8K4T0wfy-uPkzUeGFr_GxyqJsSowRNFvcvdg34z9WOX76QMO7tLQbsqQ4fhFvekZEPOA=v1-rw-w1500");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.three {
  height: 50vh;
  text-align: center;
  background-image: url("https://lh3.googleusercontent.com/hDrA0c6fusEWXAxyHQNhzhR0F1AaWpmicxwH0hsALbmpaAjfbbEqDTBH3FcPoEI_qYHxpBUXJF6dO6M61l5e=v1-rw-w1425");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
